header {
    font-size: 50px;
    text-align: center;
    border: 10px solid black;
}

#game-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#game-window {
    display: block;
    border: 10px solid black;
    margin: 10px;
    height: 601px;
    width: 801px;
}

#myCanvas{
    display: block;
    border: 10px solid black;
    position: relative;
    top: 10px;
    left: 10px;
}

#statSheet {
    display: block;
    border: 10px solid black;
    position: relative;
    left: 450px;
    bottom: 410px;
}

#dialogBox {
    border: 10px solid black;
    width: 320px;
    height: 150px;
    position: relative;
    left: 450px;
    bottom: 445px;
}

#chatInput {
    border: 10px solid black;
    width: 175px;
    position: relative;
    left: 450px;
    bottom: 465px;
}

#armorSheet {
    border: 10px solid black;
    position: relative;
    left: 450px;
    bottom: 420px;
}

#characterPortrait {
    border: 10px solid black;
    position: relative;
    width: 90px;
    height: 133px;
    left: 680px;
    bottom: 817px;
}